<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org.dtd.mybatis-3-mapper.dtd">
<mapper namespace="com.hana.imsure.user.mapper.UserMapper">
	
	<resultMap type="com.hana.imsure.user.domain.User" id="userMap">
		<id property="userId" column="user_id"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="regdate" column="regdate"/>
		<collection property="authorities" resultMap="authorityMap"/>
	</resultMap>
	
	<resultMap type="com.hana.imsure.user.domain.Authority" id="authorityMap">
		<result property="email" column="email"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<!-- 로그인, 이메일 중복 확인 -->
	<select id="read" resultMap="userMap">
		SELECT user_id, 
		       u.email AS email,
		       password,
		       TO_CHAR(regdate,'yy-mm-dd') as regdate,
		       authority
		FROM   imsure_users u
		LEFT OUTER JOIN imsure_user_role r on u.email = r.email
		WHERE u.email = #{email}
	</select>
	
	<!-- 회원가입 -->
	<!-- 회원 기본 정보 -->
	<insert id="insertUser">
		INSERT INTO imsure_users(user_id, email, password) 
		VALUES ((SELECT user_id_function 
				   FROM dual),
				 #{email},
				 #{password})
	</insert>
	<!-- 권한 정보 -->
	<insert id="insertAuthority">
		INSERT INTO imsure_user_role 
		VALUES (#{role},#{email})
	</insert>
	<!-- 인증 정보 -->
	<insert id="insertEmailValidation">
		INSERT INTO imsure_email_validations (validation_id, user_id, validation_number, type)
		VALUES ((SELECT validation_id_function 
		           FROM dual),
		        (SELECT NVL(MAX(user_id), 1)
		          FROM imsure_users),
		        #{validationNumber},
		        #{type})
	</insert>
</mapper>