@charset "utf-8";

.include-mobile-password-show-button {
	width: 90%;
	display: inline-block;
}

.mobile-password-show-button {
	display: none;
}

@media ( max-width : 768px) {
	.passwordConfirm-wrapper {
		display: none;
	}
	.mobile-password-show-button {
		display: inline;
	}
}