@charset "utf-8";

.include-mobile-password-show-button {
	width: 90%;
	display: inline-block;
}

.mobile-password-show-button {
	display: none;
}

.validation-fail-message {
	color: #c80000;
	font-size: 13pt;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 3px;
	width: 90%;
	height: 40px;
	line-height: 35px;
	text-align: center;
	margin-top: 20px;
}

.validation-fail-message::before {
	content: "\f06a";
	font-family: FontAwesome;
}

@media ( max-width : 768px) {
	.passwordConfirm-wrapper {
		display: none;
	}
	.mobile-password-show-button {
		display: inline;
	}
}