@charset "utf-8";

.forms {
	width: 100%;
	min-height: 589px;
}

.forms:first-child {
	background: url("/resources/img/recommendation/postit-background.png")
		no-repeat;
	background-size: 500px;
	background-position: center;
}

.form-txt-board {
	padding: 190px 50px 35px;
}

.step-tab {
	width: 50% !important;
}

.bgChange {
	padding-left: 4.25%;
}

.form-group .control-label {
	font-size: 1.1rem;
	font-weight: bold;
}

.input-area input {
	border: none;
	border-bottom: 1px solid #d9d9d9;
}

.input-area input:focus {
	border-bottom: 2px solid #30b1b2 !important;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.notice-under-ul {
	margin-left: 160px;
}

input[type="radio"] {
	display: none;
}

.two-option-radio label, .custom-li-left label {
	background-color: #ebebeb;
    width: 100%;
    height: 40px;
    line-height: 2.5em;
    text-align: center;
    font-size: 12pt;
}

.two-option-radio label:hover, input[type="radio"]:checked + label{
	background-color: #ff0057;
    color: white;
    font-weight:bold;
}

.unit {
	left: auto !important;
    right: 5px !important;
}

.jobs {
	width: 67%;
	background-color : white;
}

.jobs .custom-li-left {
	display:inline-block;
	width: 49.5%;	
}

.jobs .custom-li-left label {
	font-size: 9.5pt;
	margin-bottom: 0px;
	height: 50px;
	line-height: 3.5em;
}

.btn-block button {
	width: 40%;
}

.btn-prev {
	background-color: #aeaeae;
	margin-right: 10px;
}

.validation-fail-message {
	color: #c80000;
	font-size: 13pt;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 3px;
	width: 30%;
	height: 40px;
	line-height: 35px;
	text-align: center;
}

.validation-fail-message::before {
	content: "\f06a";
	font-family: FontAwesome;
}

@media ( max-width : 790px) {
	
	.forms:first-child {
		background: url("/resources/img/recommendation/postit-background.png")
			no-repeat;
		background-size: 100%;
		background-position: center;
	}
	
	.form-txt-board {
		padding: 180px 50px 35px;
	}
	
	.notice-under-ul {
		margin-left: auto;
	}
	
	#salary-input-wrapper {
		width : 100%;
	}
	
	.btn-block button {
		width: 45%;
	}
}

@media ( max-width : 993px) {
	.validation-fail-message {
		width: 90%;
	}
}