@charset "utf-8";

h1.likert-header {
	padding-left: 4.25%;
	margin: 20px 0 40px;
	font-size: 23pt;
}

.forms {
	width: 100%;
}

.step-tab {
	width: 20% !important;
}

.bgChange {
	padding-left: 4.25%;
}

.statement {
	display: block;
	font-size: 16pt;
	font-weight: bold;
	padding: 30px 0 0 4.25%;
	margin-bottom: 30px;
}

.likert {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0 0 35px;
	display: block;
	border-bottom: 2px solid #efefef;
}

.likert:last-of-type {
	border-bottom: 0;
}

.likert:before {
	content: '';
	position: relative;
	top: 8px;
	left: 9.5%;
	display: block;
	background-color: #efefef;
	height: 4px;
	width: 78%;
}

.radio li {
	display: inline-block;
	width: 40%;
	text-align: center;
	vertical-align: top;
}

li input[type=radio] {
	display: none;
}

form .likert li label {
	width: 100%;
	margin-top: 20px;
}

.btn-block button {
	width: 40%;
}

.btn-prev {
	background-color: #aeaeae;
	margin-right: 10px;
}


input[type="radio"] < label {
	font-weight: 400;
	font-size: 14px;
}

input[type="radio"]+span {
	display: block;
	position: relative;
	top: 2px;
	/*left: 50%;*/
	width: 18px;
	height: 18px;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #e9e9e9;
	margin-bottom: 20px;
}

input[type="radio"]:checked+label {
	color: #333;
	font-weight: 700;
}

input[type="radio"]:checked+span {
	background-color: #30b1b2;
	border: 2px solid #ffffff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}

input[type="radio"]+span, input[type="radio"]:checked+span {
	-webkit-transition: background-color 0.24s linear;
	-o-transition: background-color 0.24s linear;
	-moz-transition: background-color 0.24s linear;
	transition: background-color 0.24s linear;
}

.question-number {
	color: #30b1b2;
	font-size: 35pt;
	font-weight: bolder;
	font-style: italic;
	margin-right: 20px;
}
.validation-fail-message {
	color: #c80000;
	font-size: 13pt;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 3px;
	width: 30%;
	height: 40px;
	line-height: 35px;
	text-align: center;
}

.validation-fail-message::before {
	content: "\f06a";
	font-family: FontAwesome;
}

.message-bottom {
	margin-top: 20px;
	float: right;
}

@media ( max-width : 790px) {
	.question-number {
		display: block;
	}
	.btn-block button {
		width: 45%;
	}
}
@media ( max-width : 993px) {
	.validation-fail-message {
		width: 90%;
	}
}

.notice-job{
	position:relative;
	float : right;
}



