.col-sm-10.sex, .col-sm-10.recommend-chk{
	
	width:70%;
	float:right;
	margin-top:0.5rem;
}

.col-sm-10.input-area,
.col-sm-8.input-area{
	width:70%;float:right
}

.custom-li-left{
	width:48%;
	float:left;
}

.custom-li-right{
	width:48%;
	float:right;
}


.recommendation-title {
	font-size: 23pt;
}

.recommendation-header {
	font-size: 18pt;
	margin-bottom: 20px;
}

.application-name {
	color: #30b1b2;
}

.recommendation-highlight {
    color: #ff0057;
}

.title-wrapper button {
	float: right;
	margin-bottom: 20px;
	width: 40%;
	background-color: #aeaeae;
}

#result-part{
	margin-top: 7%;
}

.graph{
	margin: 10% auto;
}

.recommendation-list {
	clear: both;
}

.modal-title{
	padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

#modal-top{
	margin: 5% 0;
}

#modal-top img{
	margin-left:3%;
	margin-right:1%;
}

#modal-top span{
	width:75%;
	margin:5% 0px;
	display:inline-block;
	text-align: center;
	font-weight: bold;
}

.insurance-group{
	margin:0.1rem auto;
}

.insurance-group label{
	width:20%;
	margin-left:3%;
	background-color: #30b1b2;
	border-radius: 0.2rem;
	color: white;
	padding:0.1rem 0.5rem;
	text-align: center;
	box-shadow: 5px 6px #B8C6C7;
}

.insurance-group div{
	width:70%;
	display:inline-block;
	margin: 0px 3%;
	text-align: center;
	border-radius: 0.2rem;

	 box-shadow: 3px 3px 5px lightgray;
}

@media ( max-width : 992px) {
	.title-wrapper button {
		width: 100%;
	}
}

@media (max-width: 800px) {
.col-sm-6.step-txt {
    display: block; 
}