<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org.dtd.mybatis-3-mapper.dtd">
<mapper namespace="com.hana.imsure.recommendation.mapper.RecommendationMapper">
	<insert id="insertPsychologicResult">
		INSERT INTO imsure_psychologic_results 
            (psychologic_results_id, 
             user_id, 
             extraversion, 
             agreeableness, 
             conscientiousness, 
             neuroticism, 
             openness, 
             insurance_id1, 
             insurance_id2, 
             insurance_id3) 
		VALUES      ((SELECT psychologic_id_function 
		              FROM   dual), 
		             #{userId}, 
		             #{extraversion}, 
		             #{agreeableness}, 
		             #{conscientiousness}, 
		             #{neuroticism}, 
		             #{openness}, 
		             #{insuranceId1}, 
		             #{insuranceId2}, 
		             #{insuranceId3})
	</insert>
	
	<select id="selectInsuranceDatail" resultType="java.util.Map">
		SELECT insurance_id   "insuranceId", 
       		   insurance_name "insuranceName", 
       		   insurance_type "insuranceType", 
        	   channel        "channel", 
       		   url            "url", 
       		   details        "details" 
		FROM   imsure_insurances 
		WHERE  insurance_id = #{insuranceId}
	</select>
	
	<!-- 인구통계학적 보험추천에 필요한 정보 번호 구하기 -->
	<select id="readDemographyId" resultType="string">
		SELECT demography_function - 1
		FROM dual
	</select>

	<!-- 인구통계학적 보험추천에 필요한 정보 저장 -->
	<insert id="insertDemographicInfomation">
		INSERT INTO imsure_demographic_infos
			(demography_id,
			 user_id,
			 user_name,
			 gender,
			 birth_number,
			 is_married,
			 has_child,
			 income,
			 job,
			 has_family_cancer)
		VALUES 		((SELECT demography_function
					  FROM dual),
					 #{userId},
					 #{userName},
					 #{gender},
					 #{birthNumber},
					 #{isMarried},
					 #{hasChild},
					 #{income},
					 #{job},
					 #{hasFamilyCancer})
	</insert>

	<!-- 인구통계학적 보험추천 결과 저장 -->
	<insert id="insertDemographicResult">
		INSERT INTO imsure_demographic_results
			(demography_results_id,
			 demography_id,
			 insurance_id,
			 user_id)
		VALUES 		((SELECT demography_results_id_function
					  FROM dual),
					 #{demographyId},
					 #{insuranceId},
					 #{userId})
	</insert>
</mapper>