<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org.dtd.mybatis-3-mapper.dtd">
<mapper namespace="com.hana.imsure.management.mapper.ManagementMapper">
	<!-- 심리 측정치를 기반으로 생명 보험 추천한 결과를 가져오는 SQL -->
	<select id="selectPsychologicalResults" resultType="java.util.Map">
		SELECT TO_CHAR(insurance_id1) AS "insuranceId", 
		       insurance_name AS "insuranceName",
		       insurance_type AS "insuranceType",
		       CASE 
		       WHEN insurance_type IN (SELECT insurance_type 
		                                 FROM imsure_insurance_possessions p
		                                 LEFT OUTER JOIN imsure_insurances i ON p.insurance_id = i.insurance_id) THEN 'Y'
		        ELSE 'N'
		        END AS "hasSameType"
		FROM imsure_psychologic_results
		LEFT OUTER JOIN imsure_insurances ON imsure_insurances.insurance_id = imsure_psychologic_results.insurance_id1
		WHERE user_id = #{userId}
		UNION
		SELECT TO_CHAR(insurance_id2), 
		       insurance_name,
		       insurance_type,
		       CASE 
		       WHEN insurance_type IN (SELECT insurance_type 
		                                 FROM imsure_insurance_possessions p
		                                 LEFT OUTER JOIN imsure_insurances i ON p.insurance_id = i.insurance_id) THEN 'Y'
		        ELSE 'N'
		        END AS "hasSameType"
		FROM imsure_psychologic_results
		LEFT OUTER JOIN imsure_insurances ON imsure_insurances.insurance_id = imsure_psychologic_results.insurance_id2
		WHERE user_id = #{userId}
		UNION
		SELECT TO_CHAR(insurance_id3), 
		       insurance_name,
		       insurance_type,
		       CASE 
		       WHEN insurance_type IN (SELECT insurance_type 
		                                 FROM imsure_insurance_possessions p
		                                 LEFT OUTER JOIN imsure_insurances i ON p.insurance_id = i.insurance_id) THEN 'Y'
		        ELSE 'N'
		        END AS "hasSameType" 
		FROM imsure_psychologic_results
		LEFT OUTER JOIN imsure_insurances ON imsure_insurances.insurance_id = imsure_psychologic_results.insurance_id3
		WHERE user_id = #{userId}
	</select>
	
	<!-- 인구 통계학적 정보를 기반으로 생명 보험 추천한 결과를 가져오는 SQL -->
	<select id="selectDemographicResults" resultType="java.util.Map">
		SELECT TO_CHAR(d.insurance_id) AS "insuranceId", 
		       insurance_name AS "insuranceName",
		       insurance_type AS "insuranceType",
		       CASE 
		       WHEN insurance_type IN (SELECT insurance_type 
		                                 FROM imsure_insurance_possessions p
		                                 LEFT OUTER JOIN imsure_insurances i ON p.insurance_id = i.insurance_id) THEN 'Y'
		        ELSE 'N'
		        END AS "hasSameType"
		FROM imsure_demographic_results d
		LEFT OUTER JOIN imsure_insurances i ON d.insurance_id = i.insurance_id
		WHERE user_id = #{userId}
	</select>
	
	<!-- 가입 보험을 데이터베이스에 저장하는 SQL -->
	<insert id="insertEnrolledInsurance">
		INSERT INTO imsure_insurance_possessions (insurance_id, 
	                                          user_id, 
	                                          contract_status, 
	                                          stock_number, 
	                                          insurance_term, 
	                                          store_in_charge)
	    VALUES ((
	            SELECT insurance_id
	             FROM imsure_insurances
	            WHERE insurance_name = #{insuranceName}
	            ), 
	            #{userId}, 
	            #{contractStatus}, 
	            #{stockNumber}, 
	            #{insuranceTerm}, 
	            #{storeInCharge})
	</insert>
	
	<!-- 가입 보험 목록을 조회하는 SQL -->
	<select id="selectEnrolledInsurances" resultType="java.util.Map">
		SELECT TO_CHAR(p.insurance_id) AS "insuranceId",
		       insurance_name AS "insuranceName",
		       insurance_type AS "insuranceType"
		 FROM imsure_insurance_possessions p
		LEFT OUTER JOIN imsure_insurances i ON p.insurance_id = i.insurance_id
		WHERE user_id = #{userId}
	</select>
	
	<!-- 가입 보험 상세보기를 조회하는 SQL -->
	<select id="selectEnrolledInsuranceDetail" resultType="java.util.Map">
		SELECT insurance_name AS "insuranceName",
		       contract_status AS "contractStatus",
		       store_in_charge AS "storeInCharge",
		       insurance_term AS "insuranceTerm",
		       stock_number AS "stockNumber"
		FROM imsure_insurance_possessions p
		LEFT OUTER JOIN imsure_insurances i ON p.insurance_id = i.insurance_id
		WHERE user_id = #{userId}
		AND p.insurance_id = #{insuranceId}
	</select>
</mapper>