#chatbot-btn {
	position: fixed;
	bottom: 35px;
	right: 35px;
	
	width: 100px;
	height: 100px;
	
	border-radius: 50%;
	
	background-color: #373c44;
	color: white;
	font-weight: bolder;
}

.button {
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: #30b1b2;
  border-radius: 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
	
  height: 48px;
  font-size: 0.85rem;
  color: #FFF;
  border: 1px solid transparent;
  background-color: #373c44;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.button:hover {
  outline: 0 none;
  color: #fff;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  background-color: #f4485d;
  cursor: pointer;
}


#chatbot-btn img {
	max-height: 47px;
}

#chatbot-btn:hover {
	background-color: #ff0056;
}

.faq {
	margin-left: 0;
	border-radius: .25rem;
	background-color: #ff0056;
	border-color: #ff0056;
	color: white;
	width: 120px;
	font-size: 20px;
}
#faq-footer {
	border-top: none;
	background-color: #f0f8ff;
}
.dropdown-menu {
	background-color: #ff0056;
	border-color: #ff0056;
	color: white;
}
#one:hover {
	color: black;
}
#two:hover {
	color: black;
}
#three:hover {
	color: black;
}
.dropdown-item {
	color: white;
	font-size: 15px;
	font-weight: bold;
}

#chat {
	margin-right: 0;
	border-radius: .25rem 0 0 .25rem;
	border-color: #30b1b2;
}

#send {
	margin-left: 0;
	border-radius: 0 .25rem .25rem 0;
	background-color: #30b1b2;
	border-color: #30b1b2;
	width: 11%;
	height: 38px;
	font-size: 15px;
}

.modal-header {
	background-color: #30b1b2;
	color: white;
}

.modal-body {
	height: 550px;
	max-height: 550px;
	background-color: #f0f8ff;
	overflow-y: scroll;
}

.mesgs {
  float: left;
  padding-top: 20px;
  width: 100%;
}
.received_msg {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 10px;
}
.received_with_msg p {
  background: white none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 76%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
}
.outgoing_msg{ 
  overflow: hidden;
  margin: 10px 0 10px;
}
.sent_msg {
  float: right;
  width: 45%;
}
.sent_msg p {
  background: #30b1b2 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 16px;
  
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
